<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" crossorigin="anonymous">
  <script src="https://unpkg.com/wavesurfer.js@7/dist/wavesurfer.min.js"></script>

  <title>Audio Classification</title>
</head>

<body style="margin:10px;padding:10px">
  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-lg-8 col-md-7 col-sm-6">
        <h3>Audio Classification</h3>
        <p class="lead">Upload a .wav file, and the Convolutional Neural Network model will classify it into one of ten categories.</p>
      </div>
    </div>
    <form action="/" method="post" enctype="multipart/form-data">
      <input id="file" name="input-b1" type="file" class="file" data-browse-on-zone-click="true">
      <input type="submit" value="Upload" class="btn btn-primary" style="margin-top: 10px;">
    </form>
  </div>
  <p style="margin-bottom:2cm;"></p>
  <div class="row">
    <div class="">
      <div class="page-header">
        <h3 id="tables">Result</h3>
      </div>
      <div class="bs-component">
        <table class="table table-hover">
          <tr class="table-active">
            <th scope="col">Waveform</th>
            <th scope="col">Predict</th>
          </tr>
          <tr>
            <td style="width:40vw"> 
              <div id="waveform"></div>
              <div id="wave-spectrogram"></div>
      </div>
            </td>
            <td style="width: 20vw">
              <pre id="labelOutput">{{ labels }}</pre>
            </td>
          </tr>
        </table> 
        
    </div>
  </div>

  <!-- Separate chart container -->
  <div style="width: 50%; margin: auto;">
    <canvas id="myChart"></canvas>
  </div>

  <script>
    // Initialize WaveSurfer
    var wavesurfer = WaveSurfer.create({
        container: '#waveform'
    });

    // Once the user loads a file in the fileinput, the file should be loaded into waveform
    document.getElementById("file").addEventListener('change', function(e){
        var file = this.files[0];

        if (file) {
            var reader = new FileReader();

            reader.onload = function (evt) {
                // Create a Blob from the result of the FileReader
                var blob = new Blob([evt.target.result]);

                // Load the blob into Wavesurfer
                wavesurfer.loadBlob(blob);
            };

            reader.onerror = function (evt) {
                console.error("An error occurred reading the file: ", evt);
            };

            // Read File as an ArrayBuffer
            reader.readAsArrayBuffer(file);
        }
    }, false);
</script>

</body>
</html>
